@import "@/../node_modules/@braid/vue-formulate/themes/snow/snow.scss";

.multi-column {
  display: flex;
  grid-auto-flow: column;
  gap: 1em;
}

.align-center {
  align-items: center;
  align-content: center;
}
